body{
	
    background-repeat: no-repeat;
    background-size: cover;
}
#logout{
      float:right;
}
h2,h3{
	color:#8600b3;
}
.user {
  background-color: #993366;
  color: white;
  padding: 2.5px 5px;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
   background-color: #336600;
    color: white;
    cursor: pointer;
}

